@import 'tailwindcss';

@theme {
  --animate-ecom-marquee: ecom-marquee 30s linear infinite;

  @keyframes ecom-marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  --animate-fade-in-up: fadeInUp 1s ease-out backwards;

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
p {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
body {
  background-color: #eeee;

  scrollbar-width: thin;
  scrollbar-color: black #eee;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
